
/* images from unsplash */

.about { background-image:url(https://source.unsplash.com/6rhdGmD6wfw/1500x1500); }
.resume { background-image:url(https://images.unsplash.com/photo-1510074377623-8cf13fb86c08?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1500&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY1OTcyMjMwOQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1500); }
.projects { background-image:url(https://source.unsplash.com/b21Ty33CqVs/1500x1500); }
.education { background-image:url(https://images.unsplash.com/photo-1532012197267-da84d127e765?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1500&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY1OTcyMjMwOQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1500); }
.contact { background-image:url(https://images.unsplash.com/photo-1614926037384-4159c33e196b?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1500&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY1OTcyMjMwOQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1500); }
/* default state */
body{
    margin: 0;
    
}

.top-nav {
    display: flex;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    justify-content: space-between;
    background-color:white;
    box-shadow: inset 0 0 0 5px rgba(58, 58, 58, 0.1);
    color: black;
    align-items: center;
}

.top-nav > * {
    margin: 0px 25px;
}

.panels {
    font-family: 'Amatic SC', cursive;
    font-size: large;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
}

.panel{
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    flex: 1;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
    flex-direction: column;

    transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s;
}


/* flex children classes */

.panel.open {
    font-size: 40px;
    flex: 5;
}

.panel >*:last-child {
    position: absolute;
    color:rgba(255, 255, 255, 0);
}

.panel.open-active >*:last-child {
    position: relative;
    color: white;
    animation: fadeIn .5s;
}