@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400&display=swap');
/* font -family: 'Dosis', sans-serif; */
/* normalize */
@import '../node_modules/modern-normalize/modern-normalize.css';



.application{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-position: center;
    font-family: 'Roboto Mono', monospace, Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    font-size: 1.2rem;
}     
:root {
/* color pallet is slate from tailwind color palettes */
}

nav{
    display: flex;
    gap: 20px;
    height: 40px;
    padding: 15px
}

nav a {
    font-size: 1.3rem;
    transition: 0.5s ease;
}

nav a:hover {
    font-size: 1.7rem;
    font-weight: 700;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    align-items: center;
    gap: 20px;
    margin: 40px;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 300px;
}

.technologies{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/* about header div */

.about> h2{
    font-size: 1.5rem;
    font-weight: 700;
}

.description> h3 {
    font-weight: 600;
}

.landingTech> h2{
    font-size: 2rem;
    font-weight: 700;
}

/* tech card organization */

.techType{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 25px;
}

.techType> h4{
    font-size: 1.4rem;
    font-weight: 600;
}

.cardContent{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 400px;
    text-align: center;
}

/* to organize the blog search */

.blogArticle{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    margin-bottom: 20px;
    padding:20px;
    border-bottom: 1px solid black;
}

.comment{
    border: 1px solid black;
    border-radius: 5px;
    background: white;
}

/* styling the Projects Page */

.projects-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width:800px;
    margin-bottom: 20px;
}

.scroller{
    display: flex;
}

.card {
    width: 250px;
    margin-right: 20px;
    flex: 0 0 auto;
}

.card-text {
    height: 9rem;
    overflow: hidden;
}