/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */


/*   ----- Imports  -----  */
          /* Add fonts from the app's server 
@font-face {                
  font-family: 'FontName';
  src: url('FontName.woff2') format('woff2');
} 
          */                           

          @import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400&display=swap');
          /* font -family: 'Dosis', sans-serif; */
          
          /* normalize */
          @import '../node_modules/modern-normalize/modern-normalize.css';
                    /* npm install modern-normalize 
                      Resets elements for browser consistency.  
                      http://nicolasgallagher.com/about-normalize-css/ 
                    */
          
                    /* Component-specific stylesheets, if any 
          @import "component1.css";   
                    */
          
          /*   ----- Variables  -----  */
          :root {
            /* color pallet is slate from tailwind color palettes */
            --main-color:#f8fafc;
            --header-footer-color: rgba(203, 213, 225, .5);
            --font-color: #475569;
            --border-color: #1e293b;
            --font:'Andika', sans-serif, 'Courier New', Courier, monospace, Arial, Helvetica, sans-serif;
          }
          
          /*  ----- Viewport ----- elements inherited by all remaining elements ----- */
          body {       /* Can alternatively define in html {} or :root {} */
            color: var(--font-color);
            background-color: var(--main-color);
            font-family: var(--font);
            font-size: 1.2rem;
            margin:0px;
            padding:0px;
          }
          
          /* ----- Anchors ----- Text links */
          a {}
          a:link {}
          a:hover {}
          a:active {}
          a:visited {}
          
          /*  ----- Navigation ----- Override text links for navigation only.  */
          /* make the nav a flex container so that the links can grow smoothly */
          /* did not need to add a background color since the body has it */
          nav {
            background-color: rgba(203, 213, 225, .5);
            grid-area: 1/1/2/2;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;
            font-weight: 500;
          }
          /* add transition to font */
          nav a {
            color:#1e293b;
            font-size: 1.3rem;
            transition: 0.5s ease;
          }
          /* expand font size to make clicking easier */
          nav a:hover {
            color:#94a3b8;
            font-size: 1.7rem;
            font-weight: 700;
          }
          
          /*  ----- Page layout blocks -----  */
          header {
          }
          
          main {
            /* background: url(../src/images/Groceries.jpg) no-repeat center center fixed; */
            background-size: cover;
            background-color: var(--main-color);
            color: var(--font-color);
            grid-area: 2/1/3/2;
            justify-self: center;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          
          section {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
          }
            article {
              display: flex;
              flex-direction: column;
              border-width: 500px;
              border-bottom: solid 2px #1e293b;
              height: 500px;
              max-width: 850px;
              min-width: 500px;
            }
              #topic1 {}
              #topic2 {}
              #gallery1 {}
              #gallery2 {}
          div {}
          aside {}
          footer {
            background-color: var(--header-footer-color);
            text-align: center;
            display: flex;
            flex-direction: column;
            grid-area: 3/1/4/2;
            font-size: 1.2rem ;
            font-weight:500;
            padding: 5px;
            margin:0;
            box-shadow: 0 3px 3px var(--border-color);
          }
          
          /*  -----  Typography  ----- */
          p {
            padding: 5px;
          }
          header p {
            padding: 0px;
            margin:0px;
          }
          br {}
          ol, ul, dl {}
          li {}
          dt {}
          dd {}
          
          h1, h2, h3, h4, h5, h6 {} /* Define consistant font family.*/
          h1 { 
            font-size: 3rem;
          }
          h2 {}
          h3 {
            align-self: center;
          }
          h4 {}
          h5 {}
          h6 {}
          
          abbr {}
          acronym {}
          address {}
          blockquote {}
            q {}
            cite {}
          em {}
          hr {}
          mark {}
          s {}
          span {}
          strong {}
          sub {}
          sup {}
          time {}
          
          /*  ----- Coding or instructional typography ----- */
          pre {}
          code {}
          kbd {}
          samp {}
          var {}
          del {} 
          ins {}
          
          /*  ----- Table ----- */
          table {
            border-collapse: separate;
            border: 5px double #fbbf24;
            padding: 15px;
            margin:15px;
          }
          caption {
            font-size: 1rem;
          }
          thead {}
          tbody {}
          tfoot {}
          tr {}
            tr:nth-child(even) {}
          th {}
          td {
          }
            td:nth-child(1) {}
          colgroup {}
          data {}
          datalist {}
          
          
          /*  ----- Form ----- */
          form {
            font-family: var(--font);
            max-width: fit-content;
            font-size: 1.5rem;
            padding:10px;
          }
          fieldset {
            font-family: var(--font);
            border: 2px solid var(--font-color);
            border-radius: 5px;
          }
            legend {}
          
            label {}
          
            button {
              padding: 10px;
              border-radius: 0 5px 5px 0;
              background-color: #fbbf24;
              font-family: var(--font);
            }
            
            button:hover {
              background-color:#d97706;
            }
          
            input {
              font-family:var(--font);
              padding: 10px;
              border-radius: 5px 0 0 5px;
            }
            output {}
            meter {}
            progress {}
            select {}
              optgroup {}
              option {}
            textarea {}
          
          /* ----- Media ----- */
          figure {}
            figcaption {}
          img {}
          svg {}
          picture {}
            source {}
          iframe {}
          video {}
          audio {}
          embed {}
          object {}
          
          
          /*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */
          /* give specific styling to the app so that it's contents fall into a grid and take up the screen*/
          .landing {
            color: var(--font-color);
            font-size: 1.4rem;
            font-weight: 500;
            margin: 0px;
            padding:0;
            align-items: center;
            justify-content: center;
          }
          .landing>*{
            margin: 0px;
          }
          .application {
            display: grid;
            grid-template: 2.5rem 1fr 2rem/ 1fr;
            height: 100vh;
          }

          #landingTech{
            width: 700px;
          }

          .technologies{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
          }

          .techType{
            width: 250px;
            font-size: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
          }

          .cardContent{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
          }

          .tech{
            width: 75px;
            height: 75px;
          }
 
          .floatleft {}
          .center-middle {}
          
          .ten {}
          .twenty {}
          .thirty {}
          .forty {}
          .fifty {}
          .sixty {}
          .seventy {}
          .eighty {}
          
          .radius {}
          .circle {}
          .boxshadow {}
          .tshadow {} 
          .gradient {}
          .shape {}
          
          @keyframes App-logo {}
          
          /*   ===== TABLET  media query overrides mobile styles ===== */
          @media all and (min-width: 600px) {}
          
          /*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
          @media all and (min-width: 1080px) {}
          
          /*   ===== PRINT  media query overrides previous styles =====  */
          @media print {}
          